<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{nome}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-button (click)="doCheck('in')">Check-in</ion-button>
    <ion-button (click)="doCheck('out')">Check-out</ion-button>
  </div>
  <h2>Trabalhos:</h2>
  <ion-list>
    <ion-item *ngFor="let trabalho of trabalhos">
      <ion-label>
        <h3>{{trabalho[3]}}</h3>
        <h4>{{trabalho[4]}}</h4>
        <p>Data: {{trabalho[7]}} - {{trabalho[8]}}</p>
        <p>Local: {{trabalho[9]}} {{trabalho[10]}}</p>
        <p *ngIf="trabalho[14] === '3'" style="color: #32CD32;">Avaliado</p>
        <p *ngIf="trabalho[14] === '1'" style="color: #FF0000;">Não Avaliado</p>
        <p *ngIf="trabalho[14] === '2'" style="color: #FFA500;">Em Andamento</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
