<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="graficos">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="avaliadoresAusentes">
        <ion-icon name="list"></ion-icon>
        <ion-label>Substituição</ion-label>
      </ion-tab-button>
    <ion-tab-button tab="trabalhos">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Trabalhos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="avaliadores">
        <ion-icon name="person"></ion-icon>
        <ion-label>Avaliadores</ion-label>
      </ion-tab-button>
  </ion-tab-bar>