<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gráficos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!--Filtros-->
    <ion-list>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-select [(ngModel)]="dateModel" placeholder="Selecione uma data" (ionChange)="updateTrabalhos()">
          <ion-select-option *ngFor="let date of dates" value="{{date}}">{{date}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Local</ion-label>
        <ion-select [(ngModel)]="locationModel" placeholder="Selecione um local" (ionChange)="filterTrabalhos()">
          <ion-select-option *ngFor="let location of locations" value="{{location}}">{{location}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="block" (click)="clearFilter()">Limpar filtro</ion-button>
  </div>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Trabalhos Avaliados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="trabalhosChart"></google-chart>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Check-in Avaliadores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="avaliadoresChart"></google-chart>
    </ion-card-content>
  </ion-card>
</ion-content>