<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Avaliadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Filtros-->
  <div>
    <ion-list>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-select [(ngModel)]="dateModel" placeholder="Selecione uma data" (ionChange)="updateLists()">
          <ion-select-option *ngFor="let date of dates" value="{{date}}">{{date}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Local</ion-label>
        <ion-select [(ngModel)]="locationModel" placeholder="Selecione um local" (ionChange)="filterAvaliadores()">
          <ion-select-option *ngFor="let location of locations" value="{{location}}">{{location}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="block" (click)="clearFilter()">Limpar filtro</ion-button>
  </div>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let avaliador of avaliadores" (click)="presentAvaliador(avaliador)">
      <ion-label>
        {{avaliador.nome}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>