<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Trabalhos JAI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding"> <!--Filtros-->
    <ion-list>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-select [(ngModel)]="dateModel" placeholder="Selecione uma data" (ionChange)="filterTrabalhos()">
          <ion-select-option *ngFor="let date of dates" value="{{date}}">{{date}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Local</ion-label>
        <ion-select [(ngModel)]="locationModel" placeholder="Selecione um local" (ionChange)="filterTrabalhos()">
          <ion-select-option *ngFor="let location of locations" value="{{location}}">{{location}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="block" (click)="clearFilter()">Limpar filtro</ion-button>
  </div>
  <div class="ion-padding"> <!--Lista de trabalhos-->
    <h2>Lista de trabalhos</h2>
    <ion-list>
      <ion-item *ngFor="let trabalho of trabalhosFiltered">
        <ion-label>
          <h2>{{trabalho[3]}}</h2>
          <h3>Apresentador: {{trabalho[4]}}</h3>
          <h3>Avaliador: {{trabalho[0]}}</h3>
          <p>{{trabalho[9]}} {{trabalho[10]}}</p>
          <p>{{trabalho[7]}}  {{trabalho[8]}}</p>
          <p *ngIf="trabalho[14] === 3" style="color: #32CD32;">Avaliado</p>
          <p *ngIf="trabalho[14] === 1" style="color: #FF0000;">Não Avaliado</p>
          <p *ngIf="trabalho[14] === 2" style="color: #FFA500;">Em Andamento</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
